
html, body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif !important;

}


body{
  margin: 0;
  padding:0;
  font-family: sans-serif;
}

section{
  width: 100%;
  height: 10vh;
  /* height: 100vh; */
  /* background: url(bg.jpg); */
}

@media (min-width:770px){

  .box-show{
    display: none;
  }
  section{
    background-color: #ffcc66;
    background-image: url('../imgs/hover.jpg') !important;
    background-size: cover;
  }
}

.full-width{
  /* width:100%; */
  /* box-sizing: border-box; */
}
img{
  display: block;
}
.full-width.search{
  position: relative;
  background: #000;
  padding: 10px 100px;
  display: none;
  z-index: 10;
}
.no-hover:hover{
  border: none !important;
  border-radius: 0;
}
.font-userName{
  font-style: italic;
  color: white !important;
  padding: 10px;
}
.menu-home-3{
  position: relative;
  background: #000;
  padding: 10px 0px;
  display: none;
  z-index: 10;
}

.search-form input{
  width: 100%;
  height: 30px;
  background: none;
  /* ?? */
  outline: none;
  /* Buat Hilangin Kotak */
  border: none;
  color: #fff;
  font-size: 20px;
}

.search-form{
  position: relative;
  padding-left: 20px;
}

.search-form ::placeholder{
  color: #fff;
}
.search-form:before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  color: #fff;
  position: absolute;
  left: 0;
  top: 7px;

}
.fas{
  line-height: normal !important;
}


.full-width.navbar{
  background-size: cover;
  background-repeat: no-repeat;
}
.full-width.navbar .brand{
  float: left;
  margin: 0;
  padding: 10px 0;
  color: black ;
}
.full-width.navbar ul{
  float: left;
  margin: 0;
  display: flex;
}
.full-width.navbar ul li{
  list-style: none;
}
.closes{
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 7px;
  right: 0px;
  cursor: pointer;
}
.full-width.navbar img{
}
.full-width.navbar ul li .menu-home{
  display: block;
  color: #fff;
  text-decoration: none;
  margin-top: 2.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  /* font-size: 1vw; */
}
.full-width.navbar ul li .menu-home-2{
  display: block;
  color: #fff !important;
  text-decoration: none;
  padding-left: 1vw;
  padding-right: 1vw;
  /* font-size: 1vw; */
}
.menu-home-2{
  color: white !important;
  border-color: #fff;

}
.box-menu-item{
  padding-left: 0px;
}
.full-width.navbar ul.box-menu-item {
  /* margin-left: -250px; */
}
.full-width.navbar ul li a.active,
.full-width.navbar ul .box-menu-item  li .menu-home:hover ,
.full-width.navbar ul li a:link:hover,
.dropdown:hover
{
/*background-color hover*/
border:1px solid;
border-color: white !important;
border-radius: 20px;
}


form{
    margin-bottom: 0 !important;
}

.active{
  display: none;
}

.smallIcon{
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  display: none;
  cursor: pointer;
}
.toggle{
  /* padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  display: none; */
}
.color{
  width: 100%;
  background-color: #ffb966;
  display: none;

}
.active{
  display: block;
}
/* @media(max-width:1074px){
  img{
    margin-left: -70px;
  }
} */
 .dropmenubox-size{
   width: 20vw;
 }
.make-center{
  text-align: center;
  margin-bottom: 5px;
}


 .iconbar-message{
   margin-left:3vw;
   margin-right:3vw;
 }
 .iconbar-message-count{
   margin-left:2vw;
   margin-right:2vw;
 }

@media(max-width:1050px){
.dropmenubox-size{
  width: 25vw;
}
}
@media(max-width:770px){
  .textOverImage::after{
    top: 85% !important;
  }
  .box-hide{
    display: none;
  }
  .box-show-color{
    color: white;
    font-style: italic;
  }
  .box-show{
    display: block;
  }
  .badge {
      line-height: ;
      top: 3px !important;
  }
  .iconbar-message-count{
    margin-right: 160px;

  }
  .iconbar-cart-count{
    margin-right: 100px;
  }
  .iconbar-message{
    margin-right: 0;
  }
  .row{
    margin-bottom:50px;
  }
  .full-width.navbar ul li a.active, .full-width.navbar ul .box-menu-item li .menu-home:hover, .full-width.navbar ul li a:link:hover, .dropdown:hover{
    border: none;
  }
  .footer{
    font-size: 3vw !important;
  }
  .color{
    display: inline-block;
  }
  .full-width.navbar ul.box-menu-item {
    left: 0;
  }
  .color img{
    display: block;
    margin-left: 10%;
}
  .smallIcon{
    display:  inline-block;
    float: right;
  }
  .toggle{

  }
  .menu-home-color {
    background-color: #ffcc66;
    height:10vh;
  }
  .full-width.navbar ul{
    background-color: #ffcc66;
    z-index: 100;
    width: 100%;
    display: none;
    padding: 0;
  }
    .full-width.navbar img{
    display: none;

  }
  .full-width.navbar ul li{
    text-align: center;
    list-style-type: none;

  }
  .full-width.navbar .brand{
    display: none;
  }

  .full-width.navbar ul li a{
    padding: 20px;
  }
  .full-width.navbar{
    padding: 0px;
  }
  .actives{
    display: block !important;
  }
}

/*Menu*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding-top:10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.row .col-lg-6{
  padding: 0px;
}
.accordion:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}


.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}
.Hello{
  display: none;
}
.ar{
  display: static !important;
}
.tes{
  max-height:  0 !important;
}
.dis{
display: none;
}


/*  Register */
/* Full-width input fields */
input[type=text], input[type=password] , input[type=email] , select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */
.btn-login{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.btn-click-login{
  background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}



/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}



.container {
    /* padding: 16px; */
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {

    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
.modal-content {

    background-color: #fefefe;
    margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
.modal-content-register{
    background-color: #fefefe;
    margin: 1% 29% 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
    margin-bottom: 50px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

 a:not([href]):not([tabindex]):hover{
  color: black;
}
.messages {
  color: black !important;
  text-align: left !important;
  font-size: 12px;

}
.message{
  width: 300px;

}
.usermenuColor{
  color: black !important;
  text-align: left !important;

}
.input-search{
border-top: none !important;
border-left: none !important;
border-right: none !important;
}

.checkoutForm{
	margin-top: 2em;
}

.checkoutForm p{
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
}
.inputCheckout input[type=text],  {
  width: 50px !important;
}
.inputCheckout{
  width: 70% !important;
  height: 35px;
  border-radius: 5px;
}
.inputCheckoutName{
  font-size: 30px;
  /* line-height: -1em; */

}
.address{
  margin-top: 2.5em;
  margin-left: 50%;
}


/*Menu */
/* .photo-grid-category {
text-align: center;
} */

/* .photo-grid-category .grid-item {
border: 5px solid white;
display: inline-block;
margin: 1em;
} */

.photo-grid-category img {
display: block;
height: auto;
max-width: 100%;
}

.photo-grid-category figure {
/* height: 180px; */
height: 62%;
overflow: hidden;
position: relative;
width: 100%;
}
@media(max-width:1245px){
  .photo-grid-category figure {
  /* height: 180px; */
  height: 60%;
  overflow: hidden;
  position: relative;
  width: 100%;
  }
}
@media(max-width:1110px){
  .photo-grid-category figure {
  /* height: 180px; */
  height: 55%;
  overflow: hidden;
  position: relative;
  width: 100%;
  }
}

@media(max-width:990px){
  .photo-grid-category figure {
  /* height: 180px; */
  height: 48%;
  overflow: hidden;
  position: relative;
  width: 100%;
  }
}

@media(max-width:900px){
  .photo-grid-category figure {
  /* height: 180px; */
  height: 45%;
  overflow: hidden;
  position: relative;
  width: 100%;
  }
}
@media(max-width:800px){
  .photo-grid-category figure {
  /* height: 180px; */
  height: 40%;
  overflow: hidden;
  position: relative;
  width: 100%;
  }
}
@media(max-width:700px){
  .photo-grid-category figure {
  /* height: 180px; */
  height: 35%;
  overflow: hidden;
  position: relative;
  width: 100%;
  }
}
.photo-grid-category figcaption {
background: rgba(0,0,0,0.8);
color: white;
display: table;
height: 100%;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
z-index: 10;
width: 100%;
}

.photo-grid-category figcaption p {
display: table-cell;
font-size: 1.5em;
position: relative;
top: -40px;
vertical-align: middle;
text-align: center;
}

.photo-grid-category figcaption .product_name_p p {
display: block;
line-height: 15;
font-size: 1.5em;
position: relative;
text-align: center;
width: 100%;
}

.product_name_p{
  height: 300px;
}

.photo-grid-category .grid-item:hover figcaption {
opacity: 1;
}

.photo-grid-category img {
display: block;
height: auto;
-webkit-transition: all 300ms;
-moz-transition: all 300ms;
transition: all 300ms;
max-width: 100%;
}

.photo-grid-category .grid-item:hover img {
-webkit-transform: scale(1.4);
-moz-transform: scale(1.4);
transform: scale(0.97);
}

button:hover .photo-grid-category .grid-item figcaption {
opacity: 1;
}


button:hover .photo-grid-category .grid-item img{
  -moz-transform: scale(0.97);
}

.photo-grid-category figcaption p {
display: table-cell;
font-size: 1.5em;
position: relative;
top: -40px;
width: 200px;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
transition: all 300ms ease-out;
vertical-align: middle;
}

.photo-grid-category .grid-item:hover figcaption p {
-moz-transform: translateY(40px);
-webkit-transform: translateY(40px);
transform: translateY(40px);
}

.photo-grid-category figcaption {
background: rgba(0,0,0,0.8);
color: white;
display: table;
height: 100%;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
-webkit-transition: all 300ms;
-moz-transition: all 300ms;
transition: all 300ms;
-webkit-transition-delay: 100ms;
-moz-transition-delay: 100ms;
transition-delay: 100ms;
z-index: 100;
}

.photo-grid figure {
/* height: 180px; */
height: 70%;
overflow: hidden;
position: relative;
width: 100%;
}


.photo-grid figcaption {
background: rgba(0,0,0,0.8);
color: white;
display: table;
height: 100%;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
z-index: 10;
width: 100%;
}

.photo-grid figcaption p {
display: table-cell;
font-size: 1.5em;
position: relative;
top: -40px;
vertical-align: middle;
text-align: center;
}

.photo-grid figcaption .product_name_p p {
display: block;

line-height: 10em;
font-size: 1.5em;
position: relative;
text-align: center;
width: 100%;
}

.product_name_p{
  height: 300px;
}

.photo-grid .grid-item:hover figcaption {
opacity: 1;
}

.photo-grid img {
display: block;
height: 100%;
-webkit-transition: all 300ms;
-moz-transition: all 300ms;
transition: all 300ms;
max-width: 100%;
}

.photo-grid .grid-item:hover img {
-webkit-transform: scale(1.4);
-moz-transform: scale(1.4);
transform: scale(0.97);
}


.photo-grid figcaption p {
display: table-cell;
font-size: 1.5em;
position: relative;
top: -40px;
width: 200px;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
transition: all 300ms ease-out;
vertical-align: middle;
}

.photo-grid .grid-item:hover figcaption p {
-moz-transform: translateY(40px);
-webkit-transform: translateY(40px);
transform: translateY(40px);
}

.photo-grid figcaption {
background: rgba(0,0,0,0.8);
color: white;
display: table;
height: 100%;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
-webkit-transition: all 300ms;
-moz-transition: all 300ms;
transition: all 300ms;
-webkit-transition-delay: 100ms;
-moz-transition-delay: 100ms;
transition-delay: 100ms;
z-index: 100;
}


.unassign {
width: 35%;
display:inline-block;
font-size: 2em;
font-weight: 900;
padding: 15px;
cursor: pointer;
}

.assign {
width: 35%;
display:inline-block;
font-size: 2em;
font-weight: 900;
padding: 10px;
cursor: pointer;
}
.btnLocation{
  display: block;
  margin: 0 auto;
  width: 100px;
  z-index: 1000;
  width: 35%;
}
.btnLocation a{
  color: white;
}

a:link{
text-decoration: none!important;
display: inline-block;
text-align: center;
margin: 0 auto;
/* width: 75%; */
}

.bg-green {
    background: #1ABB9C !important;
    border: 1px solid #1ABB9C !important;
    color: #fff
}
.badge {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    top: 8px
}
.font-bold{
  font-weight: bold;
}
.margin-menu-item{
  margin-left: 1vw;
  margin-right: 1vw;

}
.textOverImage{
  position: relative;
  width:100%;
  height: 40vh;
  color: white;
  /* max-height: 450px; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition:0.7s;
}

/* .textOverImageProducts{
  position: relative;
  width: 15vw;
  height: 15vw;
  max-height: 400px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition:0.7s;
  margin: 10px;
} */

/* @media(max-width:990px){
  .textOverImageProducts{
    width: 20vw;
    height: 20vw;
  }
  .textOverImageProducts{
    top: 80!important
  }

}
@media(max-width:767px){
  .textOverImageProducts{
    position: relative;
    width: 25vw;
    height: 25vw;
    max-height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition:0.7s;
    margin: 10px;
  }
  .textOverImageProducts::after{
    top:80% !important;

  }
}
@media(max-width:575px){
  .textOverImageProducts{
    position: relative;
    width: 70vw;
    height: 50vw;
    max-height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition:0.7s;
    margin: 10px;
  }
  .textOverImageProducts::after{
    top:80% !important;

  }
} */
.marginbottom{
  margin-bottom: 20vh;
}
.deletenotif:hover{
  border: none !important;
}
.menuDeleteButton{

    width:  100%;
    display: flex;
    justify-content: center;

}

.textOverImage::after{
  position: absolute;
  top: 92%;
  bottom: 0;
  left: 0;
  right: 0;
  /* white-space: pre-wrap; */
  overflow: hidden;
  /* word-wrap: break-word; */
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  /* padding-left:10%;
  padding-right:10%;
  padding-top: 10px; */
  /* padding-left: 40%;
  padding-right: 40%; */

  /* opacity: 0; */
  content: attr(data-text);
  transition: 0.5s;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.5s;
  text-align: center;
  vertical-align: middle;
}





/* @media(min-width:1100px){
  .textOverImage{
    max-height: 450px;
  }
  .textOverImageProducts::after{
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    content: attr(data-text);
    transition: 0.5s;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.5s;
    text-align: center;
    vertical-align: middle;
  }

} */

/*  */
@media(min-width:1000px){
  .textOverImageProducts{
    position: relative;
    width: 15vw;
    height: 15vw;
    max-height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition:0.7s;
    margin: 10px;
  }

  .textOverImageProducts::after{
    position: absolute;
    top: 85%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    content: attr(data-text);
    transition: 0.5s;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.5s;
    text-align: center;
    vertical-align: middle;
  }

}
@media(min-width:991px) and (max-width:1000px){
  /* .textOverImageProducts{
    position: relative;
    width: 15vw;
    height: 15vw;
    max-height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition:0.7s;
    margin: 10px;
  }

  .textOverImageProducts::after{
    position: absolute;
    top: 82% !important;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    content: attr(data-text);
    transition: 0.5s;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.5s;
    text-align: center;
    vertical-align: middle;
  } */
  .textOverImageProducts{
    position: relative;
    width: 15vw;
    height: 15vw;
    max-height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition:0.7s;
    margin: 10px;
  }

  .textOverImageProducts::after{
    position: absolute;
    top: 82%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    content: attr(data-text);
    transition: 0.5s;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.5s;
    text-align: center;
    vertical-align: middle;
  }
}
@media (max-width:991px) and (min-width:768px){

  .textOverImageProducts{
    position: relative;
    width: 20vw;
    height: 20vw;
    max-height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition:0.7s;
    margin: 10px;
  }

  .textOverImageProducts::after{
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    content: attr(data-text);
    transition: 0.5s;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.5s;
    text-align: center;
    vertical-align: middle;
  }


}

@media screen and (max-width:768px) and (min-width:576px){

  .textOverImageProducts{
    position: relative;
    width: 25vw !important;
    height: 25vw !important;
    max-height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition:0.7s;
    margin: 10px;
  }

  .textOverImageProducts::after{
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    content: attr(data-text);
    transition: 0.5s;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.5s;
    text-align: center;
    vertical-align: middle;
  }
}

@media (max-width:576px){
  .textOverImageProducts{
    position: relative;
    width: 70vw;
    height: 50vw;
    max-height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition:0.7s;
    margin: 10px;
  }

  .textOverImageProducts::after{
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    content: attr(data-text);
    transition: 0.5s;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.5s;
    text-align: center;
    vertical-align: middle;
  }
}

@media(min-width:500px){

  .textOverImage:hover:after{
    opacity: 1;
    top: 0;
    padding-top: 30%;
  }

  .textOverImageProducts:hover:after{
    opacity: 1;
    top: 0;
    padding-top: 50%;
  }

}
@media(max-width:500px){
   .textOverImage{
    margin-bottom: 40px;
  }
  .footer{
    font-size: 2vw;
  }
  .textOverImageProducts{
    max-height: 300px;
  }
  .textOverImage{
    margin-bottom: 40px;
  }
  .textOverImageProducts::after{

    font-size: 1em;
    top: 90%;

  }
}



/*  */
/* .photo-grid img {
display: block;
height: auto;
max-width: 100%;
}

.photo-grid figure {

height: 70%;
overflow: hidden;
position: relative;
width: 100%;
}

.photo-grid figcaption {
background: rgba(0,0,0,0.8);
color: white;
display: table;
height: 100%;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
z-index: 10;
width: 100%;
}

.photo-grid figcaption p {
display: table-cell;
font-size: 1.5em;
position: relative;
top: -40px;
vertical-align: middle;
text-align: center;
}


.photo-grid .grid-item:hover figcaption {
opacity: 1;
}

.photo-grid img {
display: block;
height: auto;
-webkit-transition: all 300ms;
-moz-transition: all 300ms;
transition: all 300ms;
max-width: 100%;
}

.photo-grid .grid-item:hover img {
-webkit-transform: scale(1.4);
-moz-transform: scale(1.4);
transform: scale(0.97);
}


.photo-grid figcaption p {
display: table-cell;
font-size: 1.5em;
position: relative;
top: -40px;
width: 200px;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
transition: all 300ms ease-out;
vertical-align: middle;
}

.photo-grid .grid-item:hover figcaption p {
-moz-transform: translateY(40px);
-webkit-transform: translateY(40px);
transform: translateY(40px);
}

.photo-grid figcaption {
background: rgba(0,0,0,0.8);
color: white;
display: table;
height: 100%;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
-webkit-transition: all 300ms;
-moz-transition: all 300ms;
transition: all 300ms;
-webkit-transition-delay: 100ms;
-moz-transition-delay: 100ms;
transition-delay: 100ms;
z-index: 100;
} */

.unassign {
width: 35%;
display:inline-block;
font-size: 2em;
font-weight: 900;
padding: 15px;
cursor: pointer;
}

.assign {
width: 35%;
display:inline-block;
font-size: 2em;
font-weight: 900;
padding: 10px;
cursor: pointer;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
  width: 100% !important;
}
.container-fluid{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.mtop{
  margin-top: 10px;
  margin-bottom:15px;
}
.mtop2{
  margin-top: 100px;
  margin-bottom:15px;
}
.btnNoDecoration{
  text-decoration: none;
  color: black !important;
  text-align: center;
}
.btnNoDecoration.focus, .btnNoDecoration:focus{
 text-decoration: none !important;

}
.btnNoDecoration:hover{
 text-decoration: none !important;
 color: blue !important;
}
.mbottom{
  margin-bottom: 50px;
}

.search-icon{
  color: white !important;
}
.search-icon:hover{
  border: none !important;
}

.menu-home-button{
  color: white !important;
}
.menu-home-button:hover{
  border: none !important;
}

.footer{
  width:100%;
  background-color:orange;
  height:4  vh;
  text-align:right;
  padding-right: 5px;
  font-size: 1.2vw;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.button-category{
  width: 100%;
  display: flex;
 align-items: center;
 justify-content: center;
}

.icon-bar{
  color: white
}
.icon-bar:hover{
  border:none !important;
}
.btnBack{
  margin-bottom:5vh;
  background-color: green;
  width: 20vw;
}
