/*body {
   margin: 0;
   padding: 0;
}
.contact{
	background-color: #f2f2f2;
	display: block;
	text-align: left;
	padding: 10px;
	padding-bottom: 25px;
}
.contact-left{
	padding-left:90px;

}
.contact-right{
	text-align: right;
}

.box{
	display: inline-block;
	background-color: pink;
	position: absolute;
	width: 200px;
	height: 200px;
	transition: transform 300ms ease-in-out;
	pointer-events: none;
}
.trigger {
	width: 200px;
	height:200px;
	border: 20px solid #999;
	background:  #ddd;

}
.cat1{
	width: 200px;
	background-color: blue;
}
.trigger.clicked .cat1{
	width: 50%;
	background-color: blue;
	transform: translate(-29px,700px)rotate(20deg);
}
.trigger.clicked .cat2{
	width: 50%;
	background-color: black;
	left: 0px;

	transform: translate(100%,700px)rotate(20deg);
}
.trigger.clicked .cat3{
	width: 100%;
	background-color: green;
	transform: translate(-30px,500px)rotate(20deg);
}
.trigger.clicked .cat4{
	width: 34%;
	background-color: yellow;
	transform: translate(-29px,900px)rotate(20deg);
}
.trigger.clicked .cat5{
	width: 33%;
	background-color: brown;
	transform: translate(100%,900px)rotate(20deg);
}
.trigger.clicked .cat6{
	width: 33%;
	background-color: red;
	transform: translate(200%,900px)rotate(20deg);
}

.categorybarang{
	margin-top: 200px;
	padding: 0px;

}
.category-1{
	width: 100%;
	height: 300px;
	background-color: blue;
}
.category-2{
	width: 50%;
	height: 300px;
	background-color: black;
}
.category-3{
	width: 100%;
	height: 300px;
	background-color: green;
}
.category-4{
	width: 100%;
	height: 300px;
	background-color: pink;
}
.category-5{
	width: 100%;
	height: 300px;
	background-color: blue;
}
.category-5{
	width: 100%;
	height: 300px;
	background-color: red;
}
.category-6{
	width: 100%;
	height: 300px;
	background-color: yellow;
}
.category-7{
	width: 100%;
	height: 300px;
	background-color: grey;
}
.category-8{
	width: 100%;
	height: 300px;
	background-color: brown;
}
*/


body{
	margin: 0;
	padding:0;
	/*position: relative;*/
	background: #bfc2c2;
}
/*nav{
	width: 100%;
	height: 85px;
	position: ;
	background-color: #0ab433;
	box-shadow: 0px 2px 8px 0px #333;
}
*/
.nav-container{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	background-color: #0ab433;

}
.nav-container>.logo{
	width: 200px;
	height: 85px;
	background: red;
	/*use float  so the text is not at the bottom of image but the right of its , float the class */
	float: left;
}
.menu{
	width: 100%;
	height: 65px;
	background-color: #0ab433;
	
}

.menu>.menu-content{
	width: 200px;
	height: 65px;
	float: right;
	font-family: sans-serif,Arial;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: -0.05em;
	position: relative;
	color:#fff;
}

/*.menu>.menu-content*/

table>tbody>tr>td>a{
	text-decoration: none;
	color:#fff;
	
	
}
/*th,td {
    border-style: solid;
    border-color: #BCBCBC;
    width: 200px;
}*/
.menu>.menu-content>form>table>tbody>tr>td>{
	word-wrap: break-word;
}
.menu>.menu-content>form>table{
	 table-layout: fixed;
    width: 100%;   
}
.menu>.menu-content>form>table>tbody>tr>td> input[type=text], textarea {
        width:150px;

 }
 .menu>.menu-content>form>table>tbody>tr>td {
   
 }
/*.menu>.menu-content>form>table {
   		border-collapse: separate;
   }
*/
/*.menu>.menu-content>table{
	 width:95%;
}*/

 /*input[type=text], textarea {
        width:150px;
    }*/
.arrow-up{
	width: 0;
	height: 0;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid;
	right 0;
}
.buttonLogin{
	background-color:#FFCA28;
	border: 1px solid #536DFE ;


}
.buttonLogin:hover{
	background-color: white;
}

.container-fluid{

	padding: 0;
	margin: 0;
}

.carousel-inner > .carousel-item > img {
  width:30%;
  height:5vw;
}
.w-100{
	height: 17vw;
}

.row{
	padding: 0px;
	margin: 0px;
}

.container-fluid>.col-lg-8{

	padding: 0;
	margin: 0;
}
.container-fluid>.row>.col-lg-8{
	/*padding: 0;*/
}

.signup>table { 
    border-spacing: 10px;
    border-collapse: separate;
}


.carousel-indicators li {
    border-radius: 10px;
    width: 32px;
    height: 15px;
    background-color: #404040;
    bottom: -50px;

}
.row{
	padding: 0;
	margin: 0;
}

.carousel-indicators{

}

.container-fluid>.category{
height: 5vw;
background-color: #FFF;

}
.container-fluid>.category>p{
line-height: 5vw;
padding-left: 5vw;
font-size: 2vw;
color: #FFAA47;
font-style: italic;
font-weight: bold;



}
.container-fluid>.row>.cat_1{

background-color: #FFAA47;
}
.container-fluid>.row>.cat_1>img{
margin-top: 1vw;

}

.container-fluid>.about-group{
	margin-top: 50px;
	background-color: #FFAA47;
}
/*about Company*/
.about-group{
	text-align: center;
	padding-top: 20px;
}
.about{

	display: inline-block;  
	width: 100px;
	height: 100px;
	background: transparent;
	border-radius: 50%;
	color:#fff;
	border: 2px solid #fff;
	text-align: center;
	margin-left: 20px;
}
.about:hover{
	background: #f44336;
	cursor: pointer;
}
.about i{
	margin-top: 25%;
	font-size: 50px;
}
.text:hover{
	color:white;
}
.text{
	color:black;
}

.nav-item a{
	color:black;
	padding-right: 5vw;
}
/*.drop-item{
	width: 5vw;
}*/

.drop-menu{
/*padding-right: 500px;*/
}
.nav-pills{
	padding-right: 8vw;

}

.drop-menu .drop-item{
	padding: -8;
}

.bg-color{
	background-color: #FFAA47;
}

.bg-color-cat{
	background-color: #FFAA47;

}

.bg-color-cat1{
	background-color: #FFF;

}


figure {
  text-align: center;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

figcaption{
	text-align: left;
}
