.header-cover{width:100%;height:100%;text-align:center;overflow-x:hidden;background-image:url(../cover.png);background-repeat:no-repeat;background-size:auto;position:relative}.logo-cover{width:30%;height:30%;margin-left:63%;margin-top:17%}