<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VALUCOIN THE GLOBAL CASHBACK TOKEN</title>
  <link href="imgs/logo.png" rel="shortcut icon" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="jWPAxnvQuYQnpvyPol73km8nuGaoJl5E8wlHDY_bq10" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/api2/v1526884278587/recaptcha__id.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <meta name="maValidation" content="47604a6984d19e08376e90ac487a8005">
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-113709182-2"></script>
</head>
<body>
@if(Session::has('waves_address'))
  <div class="alert alert-success"><strong style="color:red">{!! session('waves_address') !!}</strong></div>
@endif
@if(Session::has('waves_address_success'))
  <div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span><em> {!! session('waves_address_success') !!}</em></div>
@endif
<div class="topmenu-airdrop">
  <ul class="ul-airdrop">
    <li>
      <a href="/logout"><img src="imgs\logout.png" class="img-logout"></a>
    </li>
  </ul>
</div>


<div class="container">
  @if(Session::has('flash_message_error'))
    <span class="glyphicon glyphicon-remove" style="color:red"></span><em> {!! session('flash_message_error') !!}</em>
  @endif
  @if(Session::has('flash_message'))
    <span class="glyphicon glyphicon-ok"></span><em> {!! session('flash_message') !!}</em>
  @endif
  <div class="title-2">
    ValuCoin
  </div>
  
  <div class="progressbar-title-2">
    HOW TO PARTICIPATE
  </div>

  <div class="title-content-2">
    FOLLOW THE STEPS BELOW THEN YOU WILL GET 100 VALUCOIN
  </div>
    <ul class="progressbar">
        <li class="active">
          <div class="content">
            <div class="column-text" >
              CREATE A NEW WAVES WALLET
            <div class="column-content-btn" >
            @if($airdrop->wave_address == '')
              <a href="/loginwaveplatform"><button type="button" name="button">CREATE WALLET</button></a>
            @endif
            </div>
          </div>
        </li>
        <li class="active">
          <div class="content">
            <div class="column-text" >
              LIKE VALUCOIN ON FACEBOOK
            </div>
            <div class="column-content-btn" >
              @if($airdrop->wave_address !='')
              <a href="https://www.facebook.com/valucoin/" target="_blank"><button type="button" name="button">
                LIKE
              </button></a>
              @endif
            </div>
          </div>
        </li>
        <li class="active">
          <div class="content">
            <div class="column-text" >
              SHARE THE AIRDROP ANNOUNCEMENT POST
            </div>
            <div class="column-content-btn " >
              @if($airdrop->wave_address !='')
              <a href="https://www.facebook.com/valucoin/posts/1862735537120252" target="_blank"><button type="button" name="button">SHARE</button></a>
              @endif
            </div>
          </div>
        </li>
        <li class="active">
          <div class="content">
            <div class="column-text" >
              FOLLOW VALUCOIN ON TWITTER
            </div>
            <div class="column-content-btn" >
              @if($airdrop->wave_address !='')
              <a href="https://twitter.com/valucoin" target="_blank"><button type="button" name="button">FOLLOW</button></a>
              @endif
            </div>
          </div>
        </li>
        <li class="active">
          <div class="content">
            <div class="column-text" >
              RETWEET ABOUT AIRDROP ON TWITTER
            </div>
            <div class="column-content-btn" >
              @if($airdrop->wave_address !='')
              <a href="https://twitter.com/valucoin/status/1016324515519852544" target="_blank"><button type="button" name="button">RETWEET</button></a>
              @endif
            </div>
          </li>
            <li class="active">
              <div class="column-text" >
              JOIN OUR TELEGRAM
            </div>
            <div class="column-content-btn" >
              @if($airdrop->wave_address !='')
              <a href="http://t.me/valucoin" target="_blank"><button type="button" name="button">JOIN TELEGRAM</button></a>
              @endif
            </div>
          </li>
            <li class="active">
              <div class="column-text" >
              SUBSCRIBE TO VALUCOIN ON YOUTUBE
            </div>
            <div class="column-content-btn" >
              @if($airdrop->wave_address !='')          
              <a href="https://www.youtube.com/channel/UCdN3ulfeMXkyzrBHM_ZthKg" target="_blank"><button type="button" name="button">SUBSCRIBE YOUTUBE</button></a>
              @endif
            </div>
        </li>
        <li class="active">
            <div class="content">
              <div class="column-text" >
                FILL IN AND SUBMIT A FORM
              </div>
              <div class="column-content-btn" >
                @if($airdrop->wave_address_verify ==2 && $airdrop->facebook_profile_link_verify ==2 && $airdrop->facebook_post_link_verify ==2 && $airdrop->twitter_profile_link_verify ==2 && $airdrop->twitter_post_link_verify ==2 && $airdrop->telegram_account_verify ==2 && $airdrop->youtube_account_verify ==2)
                  <button type="button" name="button">Mision Complete</button>
                @else($airdrop->wave_address_verify !=2 && $airdrop->facebook_profile_link_verify !=2 && $airdrop->facebook_post_link_verify !=2 && $airdrop->twitter_profile_link_verify !=2 && $airdrop->twitter_post_link_verify !=2 && $airdrop->telegram_account_verify !=2 && $airdrop->youtube_account_verify !=2)
                <button type="button" name="button" onclick="document.getElementById('id01').style.display='block';">GO!</button>
                @endif
              </div>
            </div>
          </li>
      </ul>
  </div>
  <div class="container" >
    <table class="table" style="width:70%; margin: 0  auto;">
      <tr>
      <td class="tab-2" colspan="col-md"><b>Job List</b></td>

      <td class="tab-2">Account</td>
      <td class="tab-2">
        Status
      </td>
      <td class="tab-3">Coin</td>
      <td class="tab-3">Action</td>
    </tr>
    <tr>
      <td class="tab-1"><b>Register ValuCoin</b></td>
      <td class="tab-1">{{Auth::user()->user_account_name}}</td>
      <td class="tab-1">
      Verified
      </td>
      <td class="tab-1">10</td>
    </tr>
    <tr>
      <td class="tab-1"><b>Waves Address</b></td>
      <td class="tab-1">{{$airdrop->wave_address}} </td>
      <td class="tab-1">
      @if($airdrop->wave_address_verify==1)
      Waiting for Check by Admin
      @elseif($airdrop->wave_address_verify==0)
      -
      @elseif($airdrop->wave_address_verify==2)
      Verified
      @elseif($airdrop->wave_address_verify==3)
      Rejected
      @endif
      </td>
      @if($airdrop->wave_address_verify==2)
      <td class="tab-1">10</td>
      @else
       <td class="tab-1"></td>
      @endif
      <td><a href="/loginwaveplatform"><button type="button" name="button">Change</button></a></td
    </tr>
    <tr>
      <td class="tab-1"><b>Facebook Profile Link</b></td>
      <td class="tab-1">{{$airdrop->facebook_profile_link}}</td>
      <td class="tab-1">
      @if($airdrop->facebook_profile_link_verify==1)
      Waiting for Check by Admin
      @elseif($airdrop->facebook_profile_link_verify==0)
      -
      @elseif($airdrop->facebook_profile_link_verify==2)
      Verified
      @elseif($airdrop->facebook_profile_link_verify==3)
      Rejected
      @endif
      </td>
      @if($airdrop->facebook_profile_link_verify==2)
      <td class="tab-1">20</td>
      @else
       <td class="tab-1"> </td>
      @endif
      <td class="tab-1"><button type="button" name="button" onclick="document.getElementById('id02').style.display='block';">Submit!</button> </td>
    </tr>
    <tr>
      <td class="tab-1"><b>Facebook Post Link</b></td>
      <td class="tab-1">{{$airdrop->facebook_post_link}}</td>
      <td class="tab-1">
      @if($airdrop->facebook_post_link_verify==1)
      Waiting for Check by Admin
      @elseif($airdrop->facebook_post_link_verify==0)
      -
      @elseif($airdrop->facebook_post_link_verify==2)
      Verified
      @elseif($airdrop->facebook_post_link_verify==3)
      Rejected
      @endif
      </td>
      @if($airdrop->facebook_post_link_verify==2)
      <td class="tab-1">20</td>
      @else
       <td class="tab-1"> </td>
      @endif
      <td class="tab-1"><button type="button" name="button" onclick="document.getElementById('id03').style.display='block';">Submit!</button> </td>

    </tr>
    <tr>
      <td class="tab-1"><b>Twitter Profile Link</b></td>
      <td class="tab-1">{{$airdrop->twitter_profile_link}}</td>
      <td class="tab-1">
      @if($airdrop->twitter_profile_link_verify==1)
      Waiting for Check by Admin
      @elseif($airdrop->twitter_profile_link_verify==0)
      -
      @elseif($airdrop->twitter_profile_link_verify==2)
      Verified
      @elseif($airdrop->twitter_profile_link_verify==3)
      Rejected
      @endif
      </td>
      @if($airdrop->twitter_profile_link_verify==2)
      <td class="tab-1">10</td>
      @else
       <td class="tab-1"> </td>
      @endif
      <td class="tab-1"><button type="button" name="button" onclick="document.getElementById('id04').style.display='block';">Submit!</button> </td>
    </tr>
    <tr>
      <td class="tab-1"><b>Twitter Retweet Link</b></td>
      <td class="tab-1">{{$airdrop->twitter_post_link}}</td>
      <td class="tab-1">
      @if($airdrop->twitter_post_link_verify==1)
      Waiting for Check by Admin
      @elseif($airdrop->twitter_post_link_verify==0)
      -
      @elseif($airdrop->twitter_post_link_verify==2)
      Verified
      @elseif($airdrop->twitter_post_link_verify==3)
      Rejected
      @endif
      </td>
      @if($airdrop->twitter_post_link_verify==2)
      <td class="tab-1">20</td>
      @else
       <td class="tab-1"> </td>
      @endif
      <td class="tab-1"><button type="button" name="button" onclick="document.getElementById('id05').style.display='block';">Submit!</button> </td>
    </tr>
    <tr>
      <td class="tab-1"><b>Telegram Account</b></td>
      <td class="tab-1">{{$airdrop->telegram_account}}</td>
      <td class="tab-1">
      @if($airdrop->telegram_account_verify==1)
      Waiting for Check by Admin
      @elseif($airdrop->telegram_account_verify==0)
      -
      @elseif($airdrop->telegram_account_verify==2)
      Verified
      @elseif($airdrop->telegram_account_verify==3)
      Rejected
      @endif
      </td>
      @if($airdrop->telegram_account_verify==2)
      <td class="tab-1">10</td>
      @else
       <td class="tab-1"> </td>
      @endif
      <td class="tab-1"><button type="button" name="button" onclick="document.getElementById('id06').style.display='block';">Submit!</button> </td>
    </tr>
    <tr>
      <td class="tab-1"><b>Youtube Account</b></td>
      <td class="tab-1">{{$airdrop->youtube_account}}</td>
      <td class="tab-1">
      @if($airdrop->youtube_account_verify==1)
      Waiting for Check by Admin
      @elseif($airdrop->youtube_account_verify==0)
      -
      @elseif($airdrop->youtube_account_verify==2)
      Verified
      @elseif($airdrop->youtube_account_verify==3)
      Rejected
      @endif
      </td>
      @if($airdrop->youtube_account_verify==2)
      <td class="tab-1">10</td>
      @else
       <td class="tab-1"> </td>
      @endif
      <td class="tab-1"><button type="button" name="button" onclick="document.getElementById('id07').style.display='block';">Submit!</button> </td>
    </tr>
  </table>
</div>
      <div class="term-codition-3">
        <a href="/privacy_policy" class="term-colour">Privacy Policy</a>
      </div>
      <div class="term-codition-2">
        <a href="/terms_conditions" class="term-colour">Term And Conditions</a>
      </div>


  <div class="footer-airdrop">
    <h4>Valucoin | Global Cashback Token</h4>
        </h4>We bring cashback programs into blockchain technology</h4>
        <h4>Join The Community</h4>
        <a class="white-text" href="https://t.me/valucoin"><i class="fa fa-telegram" aria-hidden="true"></i></a>
          <a class="white-text" href="https://t.me/VALUcommunity"><i class="fa fa-users" aria-hidden="true"></i></a>
         <a class="white-text" href="https://www.facebook.com/valucoin/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a class="white-text" href="https://www.instagram.com/valucoin/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
         <a class="white-text" href="https://www.youtube.com/channel/UCdN3ulfeMXkyzrBHM_ZthKg"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        </div>
  </div>
<!--     <div class="container-fluid bg-color">
      <div class="main">
        <h1>Rules</h1>
      </div>

      <div class="timeline">
        <div class="column">
          <div class="title">
            <h1> The user can submit only one form </h1>
          </div>
        </div>

        <div class="column">
          <div class="title">
            <h1>
              10 VALU = 1 submitted form

            </h1>
          </div>
        </div>
        <div class="column">
          <div class="title">
            <h1>
              We will distribute 500,000 tokens in total for this airdrop
             </h1>
          </div>
        </div>
        <div class="column">
          <div class="title">
            <h1>
              The airdrop will be conducted daily from 25 June - 8 July

             </h1>
          </div>
        </div>
        <div class="column">
          <div class="title">
            <h1>
              The airdrop announcement post shared to user’s Facebook timeline must be publicly visible
             </h1>
          </div>
        </div>
        <div class="column">
          <div class="title">
            <h1>
              By participating in the airdrop you agree to its Terms and Condition
             </h1>
          </div>
        </div>

    </div>
  </div> -->

<!-- Modal For All Input -->
<div id="id01" class="modal-airdrop" style="overflow:hidden; display:none;">
  <form class="modal-content-airdrop animate" action="{{url('/airdrop')}}" method="post">
    {{ csrf_field() }}
    <div class="modal-container">
      <fieldset style="padding:10px;">
        <legend>
          Form
          <i class="fa fa-times icon-close-button" onclick="document.getElementById('id03').style.display='none'" style=""></i>
        </legend>
        @if($airdrop->facebook_profile_link_verify != 2)
          <div class="form-group">
            <label>Facebook Profile URL</label>
            <input class="form-control" name="facebook_profile_link" type="text" placeholder="Your Facebook Profile URL" value="{{$airdrop->facebook_profile_link}}">
          </div>
        @else
          <input type="hidden" name="facebook_profile_link" value="{{$airdrop->facebook_profile_link}}">
        @endif
        @if($airdrop->facebook_post_link_verify != 2)
          <div class="form-group">
            <label>Facebook Post Link URL</label>
            <input class="form-control" name="facebook_post_link" type="text" placeholder="Your Facebook Post Link URL" value="{{$airdrop->facebook_post_link}}">
          </div>
        @else
          <input type="hidden" name="facebook_post_link" value="{{$airdrop->facebook_post_link}}">
        @endif
        @if($airdrop->twitter_profile_link_verify != 2)
          <div class="form-group">
            <label>Twitter Profile Link URL</label>
           <input class="form-control" name="twitter_profile_link" type="text" placeholder="Twitter Profile Link URL" value="{{$airdrop->twitter_profile_link}}">
          </div>
        @else
          <input type="hidden" name="twitter_profile_link" value="{{$airdrop->twitter_profile_link}}">
        @endif
        @if($airdrop->twitter_post_link_verify != 2)
          <div class="form-group">
           <label>Twitter Retweet Link URL</label>
           <input class="form-control" name="twitter_post_link" type="text" placeholder="Twitter Retweet Link URL" value="{{$airdrop->twitter_post_link}}">
          </div>
        @else
          <input type="hidden" name="twitter_post_link" value="{{$airdrop->twitter_post_link}}">
        @endif
        @if($airdrop->telegram_account_verify != 2)
          <div class="form-group">
           <label>Telegram Account Name</label>
            <input class="form-control" name="telegram_account" type="text" placeholder="Telegram Account Name" value="{{$airdrop->telegram_account}}">
          </div>
        @else
          <input type="hidden" name="telegram_account" value="{{$airdrop->telegram_account}}">
        @endif
        @if($airdrop->youtube_account_verify != 2)
          <div class="form-group">
            <label>Youtube Account</label>
            <input class="form-control" name="youtube_account" type="text" placeholder="Youtube Account" value="{{$airdrop->youtube_account}}">
          </div>
        @else
          <input type="hidden" name="youtube_account" value="{{$airdrop->youtube_account}}">
        @endif

      </fieldset>

      <button class="btn btn-primary m-btm" type="submit" style="padding:15px;">Submit</button>
    </div>
  </form>
</div>

<!-- Modal Facebook Profile Link -->
<div id="id02" class="modal-airdrop" style="overflow:hidden; display:none;">
  <form class="modal-content-airdrop animate" action="{{url('/airdrop')}}" method="post">
    {{ csrf_field() }}
    <div class="modal-container">
      <fieldset style="padding:10px;">
        <legend>
          Form
          <i class="fa fa-times icon-close-button" onclick="document.getElementById('id02').style.display='none'" style=""></i>
        </legend>

        @if($airdrop->facebook_profile_link_verify != 2)
        <div class="form-group">
          <label>Facebook Profile URL</label>
          <input class="form-control" name="facebook_profile_link" type="text" placeholder="Your Facebook Profile URL" value="{{$airdrop->facebook_profile_link}}">
        </div>
        @else
        <input type="hidden" name="facebook_profile_link" value="{{$airdrop->facebook_profile_link}}">
        @endif
        <input type="hidden" name="facebook_post_link" value="{{$airdrop->facebook_post_link}}">
        <input type="hidden" name="twitter_profile_link" value="{{$airdrop->twitter_profile_link}}">
        <input type="hidden" name="twitter_post_link" value="{{$airdrop->twitter_post_link}}">
        <input type="hidden" name="telegram_account" value="{{$airdrop->telegram_account}}">
        <input type="hidden" name="youtube_account" value="{{$airdrop->youtube_account}}">

      </fieldset>

      <button class="btn btn-primary m-btm" type="submit" style="padding:15px;">Submit</button>
    </div>
  </form>
</div>

<!-- Modal For Post Link Facebook -->
<div id="id03" class="modal-airdrop" style="overflow:hidden; display:none;">
  <form class="modal-content-airdrop animate" action="{{url('/airdrop')}}" method="post">
    {{ csrf_field() }}
    <div class="modal-container">
      <fieldset style="padding:10px;">
        <legend>
          Form
          <i class="fa fa-times icon-close-button" onclick="document.getElementById('id03').style.display='none'" style=""></i>
        </legend>

        <input type="hidden" name="facebook_profile_link" value="{{$airdrop->facebook_profile_link}}">
        @if($airdrop->facebook_post_link_verify != 2)
          <div class="form-group">
            <label>Facebook Post Link URL</label>
            <input class="form-control" name="facebook_post_link" type="text" placeholder="Your Facebook Post Link URL" value="{{$airdrop->facebook_post_link}}">
          </div>
        @else
          <input type="hidden" name="facebook_post_link" value="{{$airdrop->facebook_post_link}}">
        @endif
        <input type="hidden" name="twitter_profile_link" value="{{$airdrop->twitter_profile_link}}">
        <input type="hidden" name="twitter_post_link" value="{{$airdrop->twitter_post_link}}">
        <input type="hidden" name="telegram_account" value="{{$airdrop->telegram_account}}">
        <input type="hidden" name="youtube_account" value="{{$airdrop->youtube_account}}">

      </fieldset>
      <button class="btn btn-primary m-btm" type="submit" style="padding:15px;">Submit</button>
    </div>
  </form>
</div>

<!-- Modal For Profile Twitter -->
<div id="id04" class="modal-airdrop" style="overflow:hidden; display:none;">
  <form class="modal-content-airdrop animate" action="{{url('/airdrop')}}" method="post">
    {{ csrf_field() }}
    <div class="modal-container">
      <fieldset style="padding:10px;">
        <legend>
          Form
          <i class="fa fa-times icon-close-button" onclick="document.getElementById('id04').style.display='none'" style=""></i>
        </legend>

        <input type="hidden" name="facebook_profile_link" value="{{$airdrop->facebook_profile_link}}">
        <input type="hidden" name="facebook_post_link" value="{{$airdrop->facebook_post_link}}">
        @if($airdrop->twitter_profile_link_verify != 2)
          <div class="form-group">
            <label>Twitter Profile Link URL</label>
            <input class="form-control" name="twitter_profile_link" type="text" placeholder="Twitter Profile Link URL" value="{{$airdrop->twitter_profile_link}}">
          </div>
        @else
          <input type="hidden" name="twitter_profile_link" value="{{$airdrop->twitter_profile_link}}">
        @endif
        <input type="hidden" name="twitter_post_link" value="{{$airdrop->twitter_post_link}}">
        <input type="hidden" name="telegram_account" value="{{$airdrop->telegram_account}}">
        <input type="hidden" name="youtube_account" value="{{$airdrop->youtube_account}}">

      </fieldset>
      <button class="btn btn-primary m-btm" type="submit" style="padding:15px;">Submit</button>
    </div>
  </form>
</div>

<!-- Modal For Post Twitter -->
<div id="id05" class="modal-airdrop" style="overflow:hidden; display:none;">
  <form class="modal-content-airdrop animate" action="{{url('/airdrop')}}" method="post">
    {{ csrf_field() }}
    <div class="modal-container">
      <fieldset style="padding:10px;">
        <legend>
          Form
          <i class="fa fa-times icon-close-button" onclick="document.getElementById('id05').style.display='none'" style=""></i>
        </legend>
       
        <input type="hidden" name="facebook_profile_link" value="{{$airdrop->facebook_profile_link}}">
        <input type="hidden" name="facebook_post_link" value="{{$airdrop->facebook_post_link}}">
        <input type="hidden" name="twitter_profile_link" value="{{$airdrop->twitter_profile_link}}">
        @if($airdrop->twitter_post_link_verify != 2)
          <div class="form-group">
            <label>Twitter Retweet Link URL</label>
            <input class="form-control" name="twitter_post_link" type="text" placeholder="Twitter Retweet Link URL" value="{{$airdrop->twitter_post_link}}">
          </div>
        @else
          <input type="hidden" name="twitter_post_link" value="{{$airdrop->twitter_post_link}}">
        @endif
        <input type="hidden" name="telegram_account" value="{{$airdrop->telegram_account}}">
        <input type="hidden" name="youtube_account" value="{{$airdrop->youtube_account}}">

      </fieldset>

      <button class="btn btn-primary m-btm" type="submit" style="padding:15px;">Submit</button>
    </div>
  </form>
</div>

<!-- Modal For Telegram -->
<div id="id06" class="modal-airdrop" style="overflow:hidden; display:none;">
  <form class="modal-content-airdrop animate" action="{{url('/airdrop')}}" method="post">
    {{ csrf_field() }}
    <div class="modal-container">
      <fieldset style="padding:10px;">
        <legend>
          Form
          <i class="fa fa-times icon-close-button" onclick="document.getElementById('id06').style.display='none'" style=""></i>
        </legend>

        <input type="hidden" name="facebook_profile_link" value="{{$airdrop->facebook_profile_link}}">
        <input type="hidden" name="facebook_post_link" value="{{$airdrop->facebook_post_link}}">
        <input type="hidden" name="twitter_profile_link" value="{{$airdrop->twitter_profile_link}}">
        <input type="hidden" name="twitter_post_link" value="{{$airdrop->twitter_post_link}}">
        @if($airdrop->telegram_account_verify != 2)
          <div class="form-group">
            <label>Telegram Account Name</label>
            <input class="form-control" name="telegram_account" type="text" placeholder="Telegram Account Name" value="{{$airdrop->telegram_account}}">
          </div>
        @else
          <input type="hidden" name="telegram_account" value="{{$airdrop->telegram_account}}">
        @endif
        <input type="hidden" name="youtube_account" value="{{$airdrop->youtube_account}}">

      </fieldset>

      <button class="btn btn-primary m-btm" type="submit" style="padding:15px;">Submit</button>
    </div>
  </form>
</div>

<!-- Modal For Youtube -->
<div id="id07" class="modal-airdrop" style="overflow:hidden; display:none;">
  <form class="modal-content-airdrop animate" action="{{url('/airdrop')}}" method="post">
    {{ csrf_field() }}
    <div class="modal-container">
      <fieldset style="padding:10px;">
        <legend>
          Form
          <i class="fa fa-times icon-close-button" onclick="document.getElementById('id07').style.display='none'" style=""></i>
        </legend>

        <input type="hidden" name="facebook_profile_link" value="{{$airdrop->facebook_profile_link}}">
        <input type="hidden" name="facebook_post_link" value="{{$airdrop->facebook_post_link}}">
        <input type="hidden" name="twitter_profile_link" value="{{$airdrop->twitter_profile_link}}">
        <input type="hidden" name="twitter_post_link" value="{{$airdrop->twitter_post_link}}">
        <input type="hidden" name="telegram_account" value="{{$airdrop->telegram_account}}">
        @if($airdrop->youtube_account_verify != 2)
          <div class="form-group">
            <label>Youtube Account</label>
            <input class="form-control" name="youtube_account" type="text" placeholder="Youtube Account" value="{{$airdrop->youtube_account}}">
          </div>
        @else
          <input type="hidden" name="youtube_account" value="{{$airdrop->youtube_account}}">
        @endif

      </fieldset>

      <button class="btn btn-primary m-btm" type="submit" style="padding:15px;">Submit</button>
    </div>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(function(){
    $('form').submit(function(event) {
      var verified = grecaptcha.getResponse();
      if (verified.length === 0){
        document.getElementById("MyElement").style.display = "block";
        event.preventDefault();
      }
    });
  var modal = document.getElementById('id01','id02','id03','id04',);
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>

</body>
</html>